.calculator {
    background-color: gray;
    border-radius: 10px 10px 5px 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    height: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.total,
.input {
    font-size: 2rem;
    min-height: 39px;
    display: block;
    background-color: #232323;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.total {
    margin-top: 30px;
}

.input {
    margin-bottom: 10px;
    margin-top: 1px;
}

button {
    font-size: 25px;
    padding: 5px;
    border-radius: 3px;
    width: 70px;
    height: 70px;
    border: none;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-bottom: 5px;
    transition: box-shadow 0.3s, transform 0.1s;
}

button:not([disabled]):hover {
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
}

button:not([disabled]):active {
    transform: translateY(2px);
    box-shadow: none;
}